* {
  box-sizing: border-box;
}

:root {
  --first-color: #e86a0f;
  --second-color: #414141;
  --third-color: #facd00;
  --fourth-color: #e72418;
  --fifth-color: #1e1e1e;
  --body-color: #eeeeee;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  line-height: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--body-color);
}

/* before burger */

/* after burger */

nav {
  padding: 0.5rem;
  background-color: var(--first-color);
  color: var(--fifth-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: solid;
  color: #1e1e1e;
}
nav h1 {
  font-size: 2rem;
  font-weight: 500;
}

nav ul {
  padding: 0;
  list-style: none;
  font-size: 1.25rem;
}

nav > ul > li > a {
  text-decoration: none;
  padding: 0.25rem;
  color:var(--fifth-color)
}

footer {
  padding: 0.35rem;
  background: var(--first-color);
  position:fixed;
  bottom: 0;
  width: 100%;
  outline: solid;

}